<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.denisura.mordor"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Permissions required to make our UI more friendly -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".profile.collection.ViewCollectionActivity"
            android:label="@string/title_profiles"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.NewProfileActivity"
            android:label="@string/title_activity_new_profile"
            android:parentActivityName=".profile.collection.ViewCollectionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.denisura.mordor.profile.collection.ViewCollectionActivity"/>
        </activity>
        <activity
            android:name=".profile.ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:parentActivityName=".profile.collection.ViewCollectionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.denisura.mordor.profile.collection.ViewCollectionActivity"/>
        </activity>
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.AppProvider"
            android:authorities="@string/app_content_authority"
            android:exported="false"
            android:syncable="true"/>

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.ProfileSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <receiver android:name=".widget.TrackerWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.github.denisura.mordor.app.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tracker_widget_info"/>
        </receiver>

        <activity android:name=".widget.TrackerWidgetConfigureActivity"
                  android:label="@string/title_activity_widget_configure"
                  android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <service android:name=".widget.TrackerWidgetIntentService" />

    </application>

</manifest>